pandas>=2.2.2
numpy>=1.26.4
scikit-learn>=1.5.2
gensim>=4.3.3
tensorflow-cpu>=2.15.0
matplotlib>=3.9.2
seaborn>=0.13.2
nltk>=3.9.1
tqdm>=4.66.5
pyyaml>=6.0.2
arabic-reshaper>=3.0.0
python-bidi>=0.4.2
